<%- include('partials/header', {pageTitle: 'Virtual Library' }) %>

    <link rel="stylesheet" href="../css/book.css">

    <main>
        <div class="container">
            <% if (bookData) { %>
                <div class="movie-details">
                    <div class="row g-0 align-items-center margin-top">
                        <div class="col-md-4">
                            <a target="_blank" href="<%= bookData.previewLink %>">
                                <img id="book-image" src="<%= bookData.image %>" alt="Capa do Livro" class="poster">
                            </a>

                            <h3 id="book-title" class="card-title">
                                <%= bookData.title %>
                            </h3>

                            <p id="book-date" class="text-muted inline">
                                <%= bookData.publishedDate %>
                            </p>

                            <p id="book-author" class="card-text">
                                <%= bookData.authors.join(', ') %></p>

                        <div class="game-actions">
                            <button id="add-favorite-button" class="btn-unstyled" data-book-id="<%= bookData.id %>">
                                Adicionar a estante</button>&emsp;
                        </div>
                    </div>
                    
                    <div class="col-md-8">
                        <div>
                            <p id="book-description"><%= bookData.description %></p>
                            <br><br>
                            <div class="column-block">
                                <div id="castList4" class="">
                                    <h4>Generos</h4>
                                    <h3>
                                        <span id="book-genre" class="character align-items-center text-sluglist">
                                            &emsp;<%= bookData.categories.join(' , ') %>
                                        </span>
                                    </h3>
                                </div>
                            
                                <div id="castList3" class="">
                                    <h4>Idioma</h4>
                                    <h3>
                                        <span id="book-lang"  class="character align-items-center text-sluglist">
                                            &emsp;<%= bookData.language %>
                                        </span>
                                    </h3>
                                </div>
                            
                                <div id="castList" class="">
                                    <h4>Editora</h4>
                                    <h3>
                                        <span id="book-publisher" class="character align-items-center text-sluglist">
                                            &emsp;<%= bookData.publisher %>
                                        </span>
                                    </h3>
                                </div>
                            
                                <div id="castList2" class="">
                                    <h4>Páginas</h4>
                                    <h3>
                                        <span id="book-pagecount" class="character align-items-center text-sluglist">
                                            &emsp;<%= bookData.pageCount %>
                                        </span>
                                    </h3>
                                </div>
                                
                            </div>
                            <a href="/" class="back-link text-center">
                                <i class="fa-solid fa-house" style="margin-left: 50px; color: #ffffff; font-size: 30px;">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        

<!-- Bootstrap Modal -->
<div class="modal fade" id="collectionModal" tabindex="-1" aria-labelledby="collectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #0a4b43; color: #18beab;">
        <div class="modal-header">
          <h5 class="modal-title" id="collectionModalLabel">Adicionar à Coleção</h5>
          <button type="button" style="font-size: 1px; color: #18beab;" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"><i style="font-size: 15px;" class="fa-solid fa-x"></i></button>
        </div>
        <div class="modal-body">
          <form id="collectionForm">
            <div class="mb-3">
              <label for="collection-name" class="form-label">Nome da Coleção</label>
              <input type="text" class="form-control" id="collection-name" style="background-color: #18beab; color: #0a4b43;">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" id="saveButton">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
        
    </main>

    
    <script src="../js/book.js"></script>