<%- include('partials/header', {pageTitle: 'Virtual Library' }) %>

    <link rel="stylesheet" href="../css/bookshelf.css">
    <link rel="stylesheet" href="../css/sortOptions.css">

    <div class="container py-5">
        <select id="sortOptions">
            <option>Ordenar Livros Por:</option>
            <option value="year_asc">Data de Publicação - Mais Antigos</option>
            <option value="year_desc">Data de Publicação - Mais Recentes</option>
            <option value="created_at_desc">Data de Adição - Mais Recentes</option>
            <option value="created_at_asc">Data de Adição - Mais Antigos</option>
            <option value="title_desc">Título do Livro - A a Z</option>
            <option value="title_asc">Título do Livro - Z a A</option>
            <option value="publisher">Editora</option>
            <option value="author">Autor</option>
            <option value="collection">Coleção</option>
        </select>
        
        &emsp;

        <hr>
        <p class="book-count">
            <%= books.Quantidade[0].count %>
        </p>

        <div class="row justify-content-center mt-5">
            <input type="text" id="search" placeholder="Digite para buscar..." onkeyup="filterBooks()">
            <ul class="book-list list-unstyled d-flex flex-wrap" id="book-list">
                <% books.Livros.forEach((book, index)=> { %>
                    <li class="book-item p-2 <%= book.collection_id ? 'collection-book' : '' %>" style="margin: 10px;" id="book-<%= index %>">
                        <div class="<%= book.collection_id ? 'collection-border' : '' %>">
                            <a style="text-decoration: none;" href="/addedBook/<%= book.id %>">
                                <img class="book-image poster img-fluid" src="<%= book.image %>" alt="Livro <%= book.id %>">
                                <hr>
                                <div class="book-title">
                                    <p><%= book.name %> (<%= book.year %>)</p>
                                    <% if (book.collection_id) { %>
                                        <span style="background-color: #1ae9d1; color: #101b1d;; text-transform: uppercase; font-weight: 100;"  class="badge badge-primary"><%= book.collection_name %> </span>
                                    <% } %>
                                </div>
                            </a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
        

        <ul class="pagination justify-content-center">
            <% for(let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= i == page ? 'active' : '' %>">
                    <a class="page-link" href="/bookshelf?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>




    <script src="../js/bookshelf.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">